.logo-text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30.8354px;
    line-height: 122.33%;
    /* identical to box height, or 38px */
    letter-spacing: -0.045em;
    color: #000000;
   
}
.right-text
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;

}
.key-sing-in
{
    width: 332px;
    height: 55px;
    background: #05090C;
    border-radius: 4.59px;
}
.key-sing-in-1
{
    width: 247px;
    height: 55px;
    background: #05090C;
}
.sing-in
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 103% */
    text-align: center;
    color: #FFFFFF;

}
.main-title
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    /* or 122px */
    color: #000000;
}
.pink-text
{
 color: #EE58B6;   
}
.marker-text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    /* or 31px */
    color: rgba(0, 0, 0, 0.7);
}
.separator
{
    width: 1920px;
/*    height: 398px;*/
    background: #000000;
}
.separator__text
{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    color: #FFFFFF;
}
